﻿@using (Html.BeginForm("Registration", "User")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Регистрация пользователя</h2>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p>Введите ваше имя:</p>
            @Html.Editor("UserName", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("UserName", "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Зарегистрироваться" class="btn btn-default" />
            @Html.ActionLink("Отмена", "Index", "Home")
        </div>
    </div>
}