﻿@model KnowledgeModel.User

@if (Model != null && Model.Exists)
{
    using (Html.BeginForm("Index", "Test", new { UserName = Model.UserName }, FormMethod.Post))
    {

    <h2>Регистрация прошла успешно!</h2>
    <br />

    <div class="dl-horizontal">
        Ваше имя:
        <h3>@Html.DisplayFor(model => model.UserName)</h3>
    </div>

    <br />

    <input type="submit" value="Перейти к тестированию" class="btn btn-default" />
    }
}