﻿
<h2>Тестирование знаний</h2>

<br />

@if (ViewBag.UserNames.Length > 0)
{
    using (Html.BeginForm("Index", "Test"))
    {
        <p>Выберете ваше имя:</p>
        @Html.DropDownList("UserName", new SelectList(ViewBag.UserNames), new { @class = "chosen-select form-control" });
        <br />
        <input type="submit" value="Перейти к тестированию" class="btn btn-default" />
    }
}

<br />

@Html.ActionLink("Регистрация нового пользователя", "Index", "User")
