﻿@model KnowledgeModel.Test

@if (Model != null)
{

<h2>Тестирование завершено!</h2>

<br />

<h3>Набрано баллов: <b>@Model.ResultMark</b> </h3>

<br />

<h3>@Model.ResultTitle</h3>

<hr />

<p>@Model.ResultDescription</p>

}