﻿@model KnowledgeModel.Test

@if (Model != null && Model.IsNew)
{
    using (Html.BeginForm("Started", "Test"))
    {
    <h3>Имя тестируемого: @Model.User.UserName</h3>
    <br />

    <h2>Всё готово для начала тестирования!</h2>
    

    <br />
    <p>
        Вам будет задано @Model.QuestionMax вопросов. Для зачета результатов необходимо правильно ответить мимнимум на @Model.QuestionMinCorrectAnswer вопросов. 
    </p>
    <br />
    <p>
        Соберитесь с мыслями и приступайте... Удачи!
    </p>
    <br />
    <input type="submit" value="Начать тестировние" class="btn btn-default" />
    }
}