﻿@model KnowledgeModel.Test

@if (Model != null)
{

    using (Html.BeginForm())
    {
    <h2>Вопрос № @Model.CurrentQuestionNumber</h2>

    <h3>
        @Model.CurrentQuestion.QuestionText
    </h3>


        foreach (var answer in Model.CurrentQuestion.GetAnswers())
        {
        <p>
            @Html.RadioButton("AnswerText", answer.AnswerText)
            @answer.AnswerText
        </p>
        }

    <input type="submit" value="Ответить" class="btn btn-default" />
    
    }
    @*using (Html.BeginForm())
    {
    <input type="submit" value="Пропустить" class="btn btn-default" />
    }*@

    <br />

    @Html.ActionLink("Пропустить", "Next", "Test")
}
