﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h1 class="text-danger">При обработке запроса произошла ошибка.</h1>

@if (Model.Exception != null)
{
    <h2 class="text-danger">@Model.Exception.Message</h2>
}

